body {
    margin: 25px;
    background-color: rgba(209, 203, 196, 0.907);
    width: 800;
    height: 0 auto;
}

header {
    color: rgb(183, 180, 19);
    background-color: #3e72ab;
    padding: 10px;
    font-size: 25px;
}

.textcols-item {
    color: #e7ecf1;
    background-color: #be9d55;
    padding: 15px;
    border: 3px solid black;
    font-size: 25px;
}

p {
    width: 800;
    height: 0 auto;
}
div {
    width: 800;
    height: 0 auto;
    font-size: 20px;
}

.text {
    color: #e7ecf1;
    background-color: #8386b4;
    padding: 10px;
    margin: 10px;
    border: 5px solid black;

 
}
.text1 {
    padding: 15px;
    background-color: aliceblue;
    font-size: 25px;
    border: 5px solid rgb(21, 213, 18);
}

.text2 {
    background-color: aquamarine;
    padding: 10px;
}

.text3 {
    padding: 5px;
    border: 5px solid rgb(94, 18, 201);
}
footer {
    font-size: 20px;
    padding: 5px;
    background-color: rgb(196, 38, 38);
    width: 300px;
    height: 100px;
    border: 5px solid rgb(36, 83, 27);
}
